In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv('/content/Train-Hack - Sheet1 (1) - Train-Hack - Sheet1 (1) - Train-Hack - Sheet1 (1) - Train-Hack - Sheet1 (1).csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PLAYER     100 non-null    object
 1   Mat        100 non-null    int64
 2   Inns       100 non-null    int64
 3   NO         100 non-null    int64
 4   HS         100 non-null    int64
 5   Avg        100 non-null    float64
 6   BF         100 non-null    int64
 7   SR         100 non-null    float64
 8   100        100 non-null    int64
 9   50         100 non-null    int64
 10  4s         100 non-null    int64
 11  6s         100 non-null    int64
 12  2018_Runs  100 non-null    int64
 13  2019_Runs  100 non-null    int64
dtypes: float64(2), int64(11), object(1)
memory usage: 11.1+ KB

In [ ]:
df.isna().sum()

PLAYER       0
Mat          0
Inns         0
NO           0
HS           0
Avg          0
BF           0
SR           0
100          0
50           0
4s           0
6s           0
2018_Runs    0
2019_Runs    0
dtype: int64

In [ ]:
#df['Avg']=df['Avg'].replace('-',0)

In [ ]:
df1=pd.read_csv('/content/Test-Hack - Sheet1 (1) - Test-Hack - Sheet1 (1) (1) - Test-Hack - Sheet1 (1) - Test-Hack - Sheet1 (1) (1).csv')

In [ ]:
#df1['Avg']=df1['Avg'].replace('-',0)

In [ ]:
df1.isna().sum()

PLAYER       0
Mat          0
Inns         0
NO           0
HS           0
Avg          0
BF           0
SR           0
100          0
50           0
4s           0
6s           0
2018_Runs    0
dtype: int64

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PLAYER     100 non-null    object
 1   Mat        100 non-null    int64
 2   Inns       100 non-null    int64
 3   NO         100 non-null    int64
 4   HS         100 non-null    int64
 5   Avg        100 non-null    float64
 6   BF         100 non-null    int64
 7   SR         100 non-null    float64
 8   100        100 non-null    int64
 9   50         100 non-null    int64
 10  4s         100 non-null    int64
 11  6s         100 non-null    int64
 12  2018_Runs  100 non-null    int64
dtypes: float64(2), int64(10), object(1)
memory usage: 10.3+ KB

In [ ]:
X=df.iloc[:,1:13]
Y=df.iloc[:,13]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
X.head()

   Mat  Inns  NO  HS    Avg   BF      SR  100  50  4s  6s  2018_Runs
0   10     9   1  46  16.75  100  134.00    0   0   6   8        134
1   12    11   2  90  53.33  275  174.54    0   6  39  30        480
2    3     3   2  46  63.00   33  190.90    0   0   3   5         63
3   15    14   1  65  28.46  313  118.21    0   1  39   5        370
4    6     6   0  45  24.66  118  125.42    0   0  13   6        148

In [ ]:
Y.head()

0    160
1    424
2     63
3    396
4    165
Name: 2019_Runs, dtype: int64

In [ ]:
X_test=df1.iloc[:,1:]
X_test.head()

   Mat  Inns  NO   HS    Avg   BF      SR  100  50  4s  6s  2018_Runs
0   12    12   2  100  69.20  481  143.86    1   8  57  21        692
1   14    14   3  100  53.90  438  135.38    1   6  49  25        593
2   16    16   1   81  35.26  398  132.91    0   4  45  25        529
3   16    16   1   97  34.73  384  135.67    0   5  64  11        521
4   14    13   4   80  56.66  249  204.81    0   4  31  52        510

In [ ]:
##X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [ ]:
import xgboost

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split

In [ ]:
from sklearn.model_selection import cross_val_score, KFold

In [ ]:
xgb1 = XGBRegressor(nthread=7, #when use hyperthread, xgboost may become slower
              objective='reg:linear',
              learning_rate= 0.01,  #so called `eta` value
              max_depth=5,
              min_child_weight=4,
              silent=1,
              subsample= 0.7,
              colsample_bytree=0.5,
              n_estimators=800,random_state=0)
'''parameters = {'nthread':[4,5,6,7], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [.03, 0.05, .07], #so called `eta` value
              'max_depth': [5, 6, 7],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [500]}'''

'''xgb_grid = GridSearchCV(xgb1,
                        parameters,
                        cv = 2,
                        n_jobs = 5,
                        verbose=True)'''

xgb1.fit(X, Y)
y_pred = xgb1.predict(X_test)
y_pred=pd.DataFrame(y_pred)

In [ ]:
y_pred

             0
0   542.576660
1   545.880859
2   495.096771
3   500.058899
4   429.574127
..         ...
95    9.497975
96   10.874654
97    9.691557
98    9.057019
99    9.162807

[100 rows x 1 columns]

In [ ]:
result_best=pd.concat([df1['PLAYER'],y_pred],axis=1)
result_best

               PLAYER           0
0        David Warner  542.576660
1            KL Rahul  545.880859
2     Quinton de Kock  495.096771
3      Shikhar Dhawan  500.058899
4       Andre Russell  429.574127
..                ...         ...
95  Carlos Brathwaite    9.497975
96      Ishant Sharma   10.874654
97    Shakib Al Hasan    9.691557
98         Pawan Negi    9.057019
99        Tim Southee    9.162807

[100 rows x 2 columns]

In [ ]:
result_best.to_csv('Result_2020_runs.csv',index=False)

In [ ]:
'''xgb1 = XGBRegressor()
parameters = {'nthread':[4,5,6,7], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [0.01,.03, 0.05, .07], #so called `eta` value
              'max_depth': [5, 6, 7,10],
              'min_child_weight': [4,5,6],
              'silent': [1],
              'subsample': [0.7,0.5],
              'colsample_bytree': [0.7,0.5],
              'n_estimators': [250,500,750]}

xgb_grid = GridSearchCV(xgb1,
                        parameters,
                        cv = 2,
                        n_jobs = 5,
                        verbose=True)

xgb_grid.fit(X_train,
         Y_train)

print(xgb_grid.best_score_)
print(xgb_grid.best_params_)'''

Fitting 2 folds for each of 2304 candidates, totalling 4608 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:   17.7s
[Parallel(n_jobs=5)]: Done 190 tasks      | elapsed:  1.2min
[Parallel(n_jobs=5)]: Done 440 tasks      | elapsed:  2.7min
[Parallel(n_jobs=5)]: Done 790 tasks      | elapsed:  4.9min
[Parallel(n_jobs=5)]: Done 1240 tasks      | elapsed:  7.7min
[Parallel(n_jobs=5)]: Done 1790 tasks      | elapsed: 11.2min
[Parallel(n_jobs=5)]: Done 2440 tasks      | elapsed: 15.3min
[Parallel(n_jobs=5)]: Done 3190 tasks      | elapsed: 19.9min
[Parallel(n_jobs=5)]: Done 4040 tasks      | elapsed: 25.3min
[Parallel(n_jobs=5)]: Done 4608 out of 4608 | elapsed: 28.9min finished

0.9574919236742936
{'colsample_bytree': 0.5, 'learning_rate': 0.05, 'max_depth': 5, 'min_child_weight': 4, 'n_estimators': 250, 'nthread': 4, 'objective': 'reg:linear', 'silent': 1, 'subsample': 0.7}

In [ ]:
xgb1 = XGBRegressor(nthread=7, #when use hyperthread, xgboost may become slower
              objective='reg:linear',
              learning_rate= 0.01,  #so called `eta` value
              max_depth=5,
              min_child_weight=4,
              silent=1,
              subsample= 0.7,
              colsample_bytree=0.5,
              n_estimators=800,random_state=0)
'''parameters = {'nthread':[4,5,6,7], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [.03, 0.05, .07], #so called `eta` value
              'max_depth': [5, 6, 7],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [500]}'''

'''xgb_grid = GridSearchCV(xgb1,
                        parameters,
                        cv = 2,
                        n_jobs = 5,
                        verbose=True)'''

xgb1.fit(X_train, Y_train)
y_pred = xgb1.predict(X_test)
y_pred=pd.DataFrame(y_pred)

mse = mean_squared_error(Y_test,y_pred)
rmse = np.sqrt(mse)
rmse

13.672623663510864

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=1000,random_state=0,max_features=4,max_depth=15,bootstrap=False,max_samples=0.8,criterion='mse')
regressor.fit(X_train,Y_train)

y_pred = regressor.predict(X_test)
y_pred=pd.DataFrame(y_pred)

mse = mean_squared_error(Y_test,y_pred)
rmse = np.sqrt(mse)
rmse

15.320845538024326

In [ ]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [ ]:
import xgboost

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split

In [ ]:
from sklearn.model_selection import cross_val_score, KFold

In [ ]:
X_train['Avg']=X_train['Avg'].replace('-',0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
xgb1 = XGBRegressor()
parameters = {'nthread':[4,5,6,7], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [.03, 0.05, .07], #so called `eta` value
              'max_depth': [5, 6, 7],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [500]}

xgb_grid = GridSearchCV(xgb1,
                        parameters,
                        cv = 2,
                        n_jobs = 5,
                        verbose=True)

xgb_grid.fit(X_train, Y_train)

print(xgb_grid.best_score_)
print(xgb_grid.best_params_)

Fitting 2 folds for each of 36 candidates, totalling 72 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  63 out of  72 | elapsed:    0.2s remaining:    0.0s
[Parallel(n_jobs=5)]: Done  72 out of  72 | elapsed:    0.3s finished

ValueError: ignored

In [ ]:
from sklearn.linear_model import LassoCV
model = LassoCV(eps=0.0001, n_alphas=1000, fit_intercept=True, normalize=True, precompute='auto', max_iter=1000, tol=0.001, copy_X=True, cv=5, verbose=True, positive=True, random_state=0, selection='cyclic')
model.fit(X_train, Y_train)

y_pred = model.predict(X_test)
y_pred=pd.DataFrame(y_pred)

mse = mean_squared_error(Y_test,y_pred)
rmse = np.sqrt(mse)
rmse

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.6s finished

25.58331388919442

In [ ]:
'''from sklearn.linear_model import LassoCV
model = LassoCV(eps=0.0001, n_alphas=1000, fit_intercept=True, normalize=True, precompute='auto', max_iter=1000, tol=0.001, copy_X=True, cv=5, verbose=True, positive=True, random_state=0, selection='cyclic')
model.fit(X, Y)

y_pred = model.predict(X_test)
y_pred=pd.DataFrame(y_pred)'''

"from sklearn.linear_model import LassoCV\nmodel = LassoCV(eps=0.0001, n_alphas=1000, fit_intercept=True, normalize=True, precompute='auto', max_iter=1000, tol=0.001, copy_X=True, cv=5, verbose=True, positive=True, random_state=0, selection='cyclic')\nmodel.fit(X, Y)\n\ny_pred = model.predict(X_test)\ny_pred=pd.DataFrame(y_pred)"

In [ ]:
#y_pred

In [ ]:
'''result=pd.concat([df1['PLAYER'],y_pred],axis=1)
result'''

"result=pd.concat([df1['PLAYER'],y_pred],axis=1)\nresult"

In [ ]:
#result.to_csv('2020_Runs.csv',index=False)

In [ ]:
from sklearn.linear_model import ElasticNetCV
model = ElasticNetCV(copy_X=True, fit_intercept=True, l1_ratio=1,
      max_iter=1000, normalize=True, positive=True, precompute=True,
      random_state=0, selection='cyclic', tol=0.1)
model.fit(X_train, Y_train)

y_pred = model.predict(X_test)
y_pred=pd.DataFrame(y_pred)

mse = mean_squared_error(Y_test,y_pred)
rmse = np.sqrt(mse)
rmse

30.59942708328016

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(criterion='mse', splitter='best', max_depth=4, min_samples_split=3, min_samples_leaf=4, min_weight_fraction_leaf=0.4, max_features=3,random_state=0
    )
model.fit(X_train, Y_train)

y_pred = model.predict(X_test)
y_pred=pd.DataFrame(y_pred)

mse = mean_squared_error(Y_test,y_pred)
rmse = np.sqrt(mse)
rmse

101.98741659817088